{
    "presets": [
        [
            //"@babel/preset-env", 
            "@vue/app",
            {
                "useBuiltIns": "entry",
                "debug": true
            }
        ]
    ]
}
